<a href="https://colab.research.google.com/github/jony6484/my-first-binder/blob/master/oneLiners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def combine_coins(coin,numbers):
    output = ""
    for num in numbers:
        output += coin + str(num) + ", "
    return output[:-2]

In [ ]:
print(combine_coins('$', range(5)))

$0, $1, $2, $3, $4

In [ ]:
def square(num):
    return num**2
list_of_numbers = [2, 3, 4, 5, 6]

In [ ]:
new_list = []
for number in list_of_numbers:
    new_list.append(square(number))

print(new_list)

[4, 9, 16, 25, 36]

In [ ]:
# lesson 1 - performing a procedure on all list items in one line and without a loop:
result = map(square, list_of_numbers)
print(result)
print(list(result))

<map object at 0x7fdecde71cc0>
[4, 9, 16, 25, 36]

In [ ]:
# map on two lists:
def magic(a, b):
    return a * b
list_one = [1, 2, -5, 6]
list_two = [2, -1, 3, 4]
print(list(map(magic, list_one, list_two)))

[2, -2, -15, 24]

In [ ]:
# The function map:
# List of file names.
my_files = ["Dance remix.mp4", "work.docx", "lists.pdf", "cheatsheet.pdf", "Shallow.mp4", "security-lesson.ppt", "The good doctor.srt", "lecture slides.pptx", "It gets better (with time).mp4", "exam.docx"]
# Filter mp4 files using the function "filter".
def is_mp4_file(filename):
    return filename.endswith(".mp4")
print(list( filter(is_mp4_file, my_files) ))

['Dance remix.mp4', 'Shallow.mp4', 'It gets better (with time).mp4']

In [ ]:
# The reduce function:
shopping_list = [100, 150, 27, 137, 45]
def add(x, y):
    return x + y

import functools
# A sum:
print(functools.reduce(add, shopping_list))

459

In [ ]:
list_of_words = ("hello ", "this ", "is ", "a ", "tuple")
print(functools.reduce(add,list_of_words))

hello this is a tuple

In [ ]:
# Ex. 1.1.2:
def doub(str1, char):
    return str1 + char*2
import functools
def double_letter(my_str):
    return my_str[0] + functools.reduce(doub, my_str)

In [ ]:
print(double_letter("python"))
print(double_letter("we are the champions!"))

ppyytthhoonn
wwee  aarree  tthhee  cchhaammppiioonnss!!

In [ ]:
def doub2(char):
    return char*2

def double_letter2(my_str):
    return "".join(list(map(doub2, my_str)))

In [ ]:
print(double_letter2("python"))
print(double_letter2("we are the champions!"))

ppyytthhoonn
wwee  aarree  tthhee  cchhaammppiioonnss!!

In [ ]:
# Ex. 1.1.3:
def is_dev_four(num):
    return num % 4 == 0

def four_dividers(number):
    return list(filter(is_dev_four, range(1,number + 1)))

In [ ]:
print(four_dividers(9))
print(four_dividers(3))

[4, 8]
[]

In [ ]:
# Ex. 1.1.4:
import functools
def sum(x, y):
    return int(x) + int(y)

def sum_of_digits(number):
    return functools.reduce(sum, list(str(number)))

In [ ]:
sum_of_digits(104)

5

In [ ]:
# lambda functions:
(lambda x, y: x + y) (2, 5)

7

In [ ]:
# The reduce function plus lambda:
shopping_list = [100, 150, 27, 137, 45]

import functools
# A sum:
print(functools.reduce(lambda x, y: x + y, shopping_list))

459

In [ ]:
new_add = lambda x, y: x+ y
new_add(5, 2)

7

In [ ]:
# lambda as an argument:
my_list = [0, 1, 2, 3, 4, 5, 6, 7]
print(list(filter(lambda x: x % 2 == 0, my_list)))

[0, 2, 4, 6]

In [ ]:
# sorting key with lambda: by the second tuple argument
list_of_tuples = [(2, 2), (3, 4), (4, 1), (1, 3)]
print(sorted(list_of_tuples, key=lambda x: x[1] ))

[(4, 1), (2, 2), (1, 3), (3, 4)]

In [ ]:
# Ex. 1.2.1:

a = lambda x: 1
print(a(3))
print(a("s"))
print(a(2))
print(type(a(3)))

1
1
1
<class 'int'>

In [ ]:
# Ex. 1.2.2:
b = lambda x: x
print(b(1))
print(b(3))

1
3

In [ ]:
# Ex. 1.2.3:
c = lambda x, y: x + y
print(c(1, 3))
print(c(2, 5))

4
7

In [ ]:
# Ex. 1.2.4:
d = lambda x, y: y
print(d(1, 3))
print(d(5, 2))

3
2

In [ ]:
import timeit
import time

In [ ]:
# 1.3 Quick list making:
# oldest way:
#start = timeit.timeit()
# t = time.process_time()
power_3_list = []
for i in range(100):
    power_3_list.append(i ** 3)
print(power_3_list)
# print((time.process_time() - t)*1000)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

In [ ]:
# better way:

power_3_list = range(0,100)
print(list(map(lambda x: x**3, power_3_list)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]
0.5301179999985806

In [ ]:
# Shortest way:

power_3_list = [x**3 for x in range(100)]
print(power_3_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]
0.469226999999961

In [ ]:
# 7 boom :
boom = [(x % 7 == 0 or '7' in str(x), x) for x in range(1,100)]
print(boom)

[(False, 1), (False, 2), (False, 3), (False, 4), (False, 5), (False, 6), (True, 7), (False, 8), (False, 9), (False, 10), (False, 11), (False, 12), (False, 13), (True, 14), (False, 15), (False, 16), (True, 17), (False, 18), (False, 19), (False, 20), (True, 21), (False, 22), (False, 23), (False, 24), (False, 25), (False, 26), (True, 27), (True, 28), (False, 29), (False, 30), (False, 31), (False, 32), (False, 33), (False, 34), (True, 35), (False, 36), (True, 37), (False, 38), (False, 39), (False, 40), (False, 41), (True, 42), (False, 43), (False, 44), (False, 45), (False, 46), (True, 47), (False, 48), (True, 49), (False, 50), (False, 51), (False, 52), (False, 53), (False, 54), (False, 55), (True, 56), (True, 57), (False, 58), (False, 59), (False, 60), (False, 61), (False, 62), (True, 63), (False, 64), (False, 65), (False, 66), (True, 67), (False, 68), (False, 69), (True, 70), (True, 71), (True, 72), (True, 73), (True, 74), (True, 75), (True, 76), (True, 77), (True, 78), (True, 79), (False, 80), (False, 81), (False, 82), (False, 83), (True, 84), (False, 85), (False, 86), (True, 87), (False, 88), (False, 89), (False, 90), (True, 91), (False, 92), (False, 93), (False, 94), (False, 95), (False, 96), (True, 97), (True, 98), (False, 99)]

In [ ]:
# Eamples of usages:
# 1:

letters = ['a', 'b', 'c']
upper_letters = [x.upper() for x in letters]
print(upper_letters)

['A', 'B', 'C']

In [ ]:
# 2:
list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [x * y for x in list1 for y in list2]
print(list3)

[5, 6, 7, 10, 12, 14, 15, 18, 21]

In [ ]:
# List with a condition:
my_list = [1, 2, 3, 4, 5]
squared_list = [x*x for x in my_list if x % 2 == 0]
print(squared_list)

[4, 16]

In [ ]:
# List with a nested condition:
nested_list = [x*2 for x in range(10) if x > 3 if x < 7]
print(nested_list)

[8, 10, 12]

In [ ]:
# if/ else in a list:
even_odd_list = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(even_odd_list)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
# list of lists:
list_of_lists = [[2 * x, x] for x in range(1, 5)]
print(list_of_lists)

[[2, 1], [4, 2], [6, 3], [8, 4]]

In [ ]:
# The coin chalenge:
def combine_coins(coin, num_list): return ", ".join([coin + str(num) for num in num_list])

In [ ]:
print(combine_coins('$', range(5)))

$0, $1, $2, $3, $4

In [ ]:
# Ex. 1.3.1:
def intersection(list_1, list_2):
    return list(set(filter(lambda x: x in list_1, list_2)))

In [ ]:
print(intersection([1, 2, 3, 4], [8, 3, 9]))
print(intersection([5, 5, 6, 6, 7, 7], [1, 5, 9, 5, 6]))

[3]
[5, 6]

In [ ]:
# Ex. 1.3.1 option b:
def intersection(list_1, list_2):
    return list(set([ x for x in list_1 for y in list_2 if x == y]))

In [ ]:
print(intersection([1, 2, 3, 4], [8, 3, 9]))
print(intersection([5, 5, 6, 6, 7, 7], [1, 5, 9, 5, 6]))

[3]
[5, 6]

In [ ]:
# Ex. 1.3.2:
def is_prime(number):
    return not (len([x for x in range(2, number) if number % x == 0]) > 0)

In [ ]:
print(is_prime(42))
print(is_prime(43))
print(is_prime(21))

False
True
False

In [ ]:
# Ex. 1.3.3:
def is_funny(string):
    return not len([char for char in string if char != 'h' and char != 'a']) > 0

In [ ]:
print(is_funny("hahahahahaha"))
print(is_funny("hahahachahaha"))

True
False

In [ ]:
# Ex. 1.3.3 option b:
def is_funny(string):
    return not len(list(filter(lambda char: char != 'h' and char != 'a', string))) > 0

In [ ]:
print(is_funny("hahahahahaha"))
print(is_funny("hahahachahaha"))

True
False

In [ ]:
# Ex. 1.3.4:
password = "sljmai ugrf rfc ambc: lglc dmsp mlc rum"

new_pass = ""
for char in password:
    if char.isalpha():
        new_pass += chr(ord(char) + 2)
    else: new_pass += char
        
print(new_pass)

unlock with the code: nine four one two

In [ ]:
# Ex. 1.3.4: one liner:
print("".join([chr(ord(char) + 2) if char.isalpha() else char for char in password]))

unlock with the code: nine four one two

In [1]:
# Ex. 1.5:
with open("/content/drive/My Drive/Colab Notebooks/other_files/names.txt") as input_file:
    print(max(input_file.read().split())) # part 1
with open("/content/drive/My Drive/Colab Notebooks/other_files/names.txt") as input_file:
    print(len("".join(input_file.read().split()))) # part 2
with open("/content/drive/My Drive/Colab Notebooks/other_files/names.txt") as input_file:
    print(sum(map(lambda name: len(name), input_file.read().split()))) # part 2 alt 2

Vladimir
38
38

In [13]:
with open("/content/drive/My Drive/Colab Notebooks/other_files/names.txt") as input_file:
    sorted_input = sorted(input_file.read().split(), key = lambda name: len(name))
    print([name for name in sorted_input if len(name) == len(sorted_input[0])]) # part 3

['Ed', 'Jo']